<div class="card br">
    <div class="wrapper">
        <div class="profile-picture">
            <div class="profilePic animate"></div>
        </div>
        <div class="content-section">
            <div class="comment br animate w20"></div>
            <div class="comment br animate"></div>
            <div class="comment br animate"></div>
        </div>
        <div class="profile-picture">
            <div class="profilePic animate"></div>
        </div>
        <div class="content-section">
            <div class="comment br animate w20"></div>
        </div>
    </div>
    <div>