.tutorial{
    display: flex;
    width: 90%;
    margin: 10px auto;
    padding: 20px 15px;
    border-radius: 3px;
    border: 1px solid #ebebee;
    box-shadow: 5px 5px lightgrey;
}
.profile-section{
    width: 15%;
}
.profile-section img{
    max-width: 100%;
}
.comment-section{
    width: 50%;
    padding: 15px 10px;
}
.time-section{
    width: 20%;
    text-align: center;
}
.user-profile-section{
    width: 120px;
}
.user-profile-section img{
    width: 100%;
}